@layout('layouts/main')
@set('title', 'Usuario ya existe')



@section('body')
<h2>No se pudo crear el usuario</h2>

@if(error)
<p>{{error}}</p>
@end
@if(emailExist)
  <p>Email ya utilizado.</p>
@end
@if(userExist)
  <p>El nombre de usuario ya ha sido utilizado.</p>
@end

<button onclick="back()"> Volver </button>
<script>
  const back = () => {
    window.location= "/register"
  }
</script>
@end