@layout('layouts/main')
@set('title', 'Home')

@section('navbar')
  @include('partials/navbar')
@end

@section('body')
  <hr>
  @include('partials/product_container')
@end

@section('script')

@end


